/* Root variables */
:root {
    --primary: #4F46E5;
    --primary-hover: #4338CA;
    --background: #211249;
    --text-dark: #d6dfec;
    --text-light: #e2e9f7;
    --radius: 12px;
    --shadow: 0 4px 12px rgba(0,0,0,0.06);
    --font-main: 'Inter', sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

#vanta-bg {
    min-height: 100vh;
    width: 100%;
    height: auto;    /* penting */
    position: relative;
}

/* Body background */
body {
    background: var(--background);
    color: var(--text-dark);
}

/* Center container (used in login & register) */
.center-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Card */
.card {
    /* background: #211249; */
    background: transparent;
    width: 100%;
    max-width: 420px;
    padding: 35px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

/* Title */
.card-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 18px;
    text-align: center;
}

/* Input group */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--text-light);
}

.form-group input {
    width: 100%;
    padding: 12px 14px;
    color: var(--text-light);
    background-color: #314a74bb;
    border: 1.5px solid #000102a2;
    border-radius: var(--radius);
    font-size: 15px;
    transition: 0.2s;
}

.form-group input:focus {
    border-color: var(--background);
    outline: none;
}

/* Button */
.btn-primary {
    width: 100%;
    background: #1f0663;
    color: #fff;
    padding: 13px;
    border: none;
    border-radius: var(--radius);
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary:hover {
    background: var(--primary-hover);
}

/* Text link */
.text-link {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
}

.text-link a {
    color: var(--primary-hover);
    text-decoration: none;
}

.text-link a:hover {
    text-decoration: underline;
}

.footer {
    background: transparent;
    text-align: center;
    color: #9CA3AF;
    font-size: 14px;
    padding: 40px 0;
    border-top: 1px solid #1F2937;
    /* margin-top: 80px; */
}
