/* ========== LOGIN ONLY STYLE ========== */

.card-login .card-title {
    text-align: center;
}

.card-login {
    animation: fade .4s ease;
}

@keyframes fade {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}
